<div class="video-controller" style="background-color: darkgoldenrod; width: 100%; height: auto;">
  <mat-slider [min]="0" [max]="duration" [value]="currentTime" color="primary" style="width: 100%"
              (input)="seekTo($event.value)"></mat-slider>
  <div style="float: right; margin-right: 5px;">00:00</div>
  <button mat-button (click)="togglePlay()">
    <mat-icon>{{icons.play}}</mat-icon>
  </button>
  <button mat-button (click)="stop()">
    <mat-icon>{{icons.stop}}</mat-icon>
  </button>
  <button mat-button (click)="prev()">
    <mat-icon>{{icons.prev}}</mat-icon>
  </button>
  <button mat-button>
    <mat-icon (click)="next()">{{icons.next}}</mat-icon>
  </button>
  <button mat-button (click)="updatePlayingState()">
    <mat-icon>{{icons.shuffle}}</mat-icon>
  </button>
  <mat-slider min="0" thumbLabel
              [displayWith]="formatLabel" (input)="setVolumeTo($event.value)"
              tickInterval="1000" max="1" step=".1" [value]="volume"
              style="float: right;margin-right: 15px;"></mat-slider>
</div>
