<div class="video-controller" [class.hide]="hideControl" #videoController>
  <mat-slider [min]="0" [max]="duration" [value]="currentTime" color="primary" style="width: 100%"
              (input)="seekTo($event.value)"></mat-slider>
  <div style="float: right; margin-right: 5px;">{{currentDuration}}/{{timeDuration}}</div>
  <button mat-button (click)="togglePlay()">
    <mat-icon>{{state === eState.PLAY ? icons.pause : icons.play}}</mat-icon>
  </button>
  <button mat-button (click)="stop()">
    <mat-icon>{{icons.stop}}</mat-icon>
  </button>
  <button mat-button (click)="prev()">
    <mat-icon>{{icons.prev}}</mat-icon>
  </button>
  <button mat-button (click)="next()">
    <mat-icon>{{icons.next}}</mat-icon>
  </button>
  <button mat-button (click)="updatePlayingState()">
    <mat-icon>{{icons.shuffle}}</mat-icon>
  </button>
  <button mat-button (click)="togglePlaylistWindow()">
    <mat-icon>{{icons.playlist}}</mat-icon>
  </button>
  <mat-slider min="0" (input)="setVolumeTo($event.value)" max="1" step=".1" [value]="volume"
              style="float: right;margin-right: 15px;"></mat-slider>
</div>
