<div id="main">
  <video id="video" #video width="100%" height="100%" controls autoplay></video>
  <div class="playlist" *ngIf="!!playlist.length">
    <mat-list role="list">
      <div *ngFor="let item of playlist">
        <button mat-icon-button (click)="setCurrent(item)">
          <mat-icon *ngIf="item.state === eStateFile.PLAY">{{ iconStates.pause }}</mat-icon>
          <mat-icon *ngIf="item.state !== eStateFile.PLAY">{{ iconStates.play }}</mat-icon>
        </button>
        <button mat-icon-button (click)="stop()">
          <mat-icon *ngIf="item.ino === current.ino">{{ iconStates.stop }}</mat-icon>
        </button>
        <mat-list-item role="listitem">{{item.basename}}</mat-list-item>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="removeFromList(item)">
            <mat-icon>remove</mat-icon>
            <span>Remove from list</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>delete</mat-icon>
            <span>Delete from file</span>
          </button>
          <button mat-menu-item>
            <mat-icon>grade</mat-icon>
            <span>Rate</span>
          </button>
        </mat-menu>
      </div>
    </mat-list>
  </div>
  <h1 class="nodata" *ngIf="playlist.length === 0">No data</h1>
</div>


