/*noinspection CssInvalidPseudoSelector*/
::-webkit-media-controls {
  display: none !important;
}

video {
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-container {
  background-color: dimgray;
}
